
.btn-explore{
    .inner-btn{
        width: 300px;
        height: 50px;
        background: linear-gradient(90deg, #9725FF 0%, #401BFF 100%);
        line-height: 50px;
        text-align: center;
        color: #fff;
        display: flex;
    }

}